doctype html
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title crazy choco
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
  body
      main.main-page
        div.container
          form(action="index.html" method="post").block__delivery
            include ../sections/delivery
            include ../sections/order
      script(src="js/script.js")
