div.delivery__bg
    section.delivery
      a(href="index.html").delivery__logo
        img(src="img/crazychoco-logo1.png" alt="логотип crazy choco")
      p.delivery__help Трудности при оформлении? Звоните 
         a(href="tel:+79776547228") +79776547228
      h1.delivery__title Доставка
      include ../sections/form
